streamlit
langchain
langchain-community
langchain-openai
langchain-core
langchain-chroma==0.1.0 #다른 버전은 모두 pysqlite3.dbapi2.OperationalError: no such table: collections 발생
pysqlite3-binary
pypdf
langchain-text-splitters